<h1>Edit Department</h1>
<hr>
<%= render 'form' %>

<%#= link_to 'Show', @department %> |
<div style="margin-left:158px;margin-top:-57px;">
<%= link_to 'Back', departments_path,:class=>"btn btn-default btn-cons" %>
</div>
