<p id="notice"><%= notice %></p>

<p>
  <b>Ref type:</b>
  <%= @entitle_incentive.ref_type %>
</p>


<%= link_to 'Edit', edit_entitle_incentive_path(@entitle_incentive) %> |
<%= link_to 'Back', entitle_incentives_path %>
